{% extends 'blog/blog1.html' %}
{% block content %}

        <section class="breadcrumb_area">
            <img class="breadcrumb_shap" src="static/img/breadcrumb/banner_bg.png" alt="">
            <div class="container">
                <div class="breadcrumb_content text-center">
                    <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">SignUp</h1>
                    <p class="f_400 w_color f_size_16 l_height26">Why I say old chap that is spiffing off his nut arse pear shaped plastered<br> Jeffrey bodge barney some dodgy.!!</p>
                </div>
            </div>
        </section>

        <section class="login_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="login_info">
                            <h2 class="f_p f_700 f_size_40 t_color3 mb_20">Register</h2>
                            <p class="f_p f_400 f_size_15">Welcome! Please confirm that your are visiting <br><a href="#">https://www.saasland.com</a></p>
                            <form action="#" class="login-form mt_60" method="post">
                                {{ form.hidden_tag() }}
                                <div class="form-group text_box">
                                    <label class="f_p text_c f_400">Email</label>
                                    {{ form.email }}
                                </div>
                                <div class="form-group text_box">
                                    <label class="f_p text_c f_400">Username Name</label>
                                    {{ form.username }}
                                </div>
                                <div class="form-group text_box">
                                    <label class="f_p text_c f_400">Password</label>
                                    {{ form.password(class="f_p text_c f_400")}}
                                </div>
                                <div class="form-group text_box">
                                    <label class="f_p text_c f_400">Confirm Password</label>
                                    {{ form.confirm_password(class="f_p text_c f_400")}}
                                </div>
                                <div class="extra">
                                    <div class="checkbox remember">
                                        <label>
                                            <input type="checkbox"> I agree to terms and conditions of this website
                                        </label>
                                    </div>
                                    <!--//check-box-->
                                    {% if form.errors %}
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %} 
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                    {% endfor %}
                                    {% endif %}    
                                </div>
                                {{ form.submit(class='btn_three') }}
                                <div class="alter-login text-center mt_30">
                                    Already have an Account? <a class="login-link" href="#">Login</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex align-items-center">
                        <div class="login_img">
                            <img src="static/img/login_img2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>

     {% endblock %}